<p id="notice"><%= notice %></p>

<p>
  <strong>Ням-Ням:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Описалово:</strong>
  <%= @shop.desc %>
</p>

<%= link_to 'К выбору Ням-Ням', shops_path %>

<h2>Ням ням от   <%= @shop.name %></h2>

<% @shop.dishes.each do |dish| %>

  <%= dish.name %><br>
   <%= image_tag dish.image.url(:thumb) %>
   <%= dish.price %>

   <%= form_for Cart.new, url: carts_path, method: :post do |f| %>

   <%= f.number_field :count_item, :value => "1" %>
   <%= f.hidden_field :dish_id, :value => dish.id %>

   <%= f.submit "Добавить в корзину", class: "btn btn-primary"%>

   <% end %>
   <br>
   <hr>
<% end %>
