<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @shop.desc %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

<h2>ТОВАРЫ</h2>

<% @shop.dishes.each do |dish| %>

  <%= dish.name %><br>
   <%= image_tag dish.image.url(:thumb) %>
   <%= dish.price %>
   <br>
   <hr>
<% end %>
