<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @dish.shop %>
</p>

<%= link_to 'Back', dishes_path %>
